ordersystem/src/main/resources/static/n8njs/My workflow7788.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "inline_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1776,
        640
      ],
      "id": "e1a59c13-10e9-42ce-9ea0-b03d65128638",
      "name": "Telegram Trigger",
      "webhookId": "f861447b-4e6f-4905-84c9-78efd886d6c2",
      "credentials": {
        "telegramApi": {
          "id": "eL504ZEdHkJzKpeq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1104,
        832
      ],
      "id": "ee3f1cde-2256-4c6f-9685-f808a5b7142b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9wywYOv1bcAnyAVw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('userData').item.json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{ $json.output.toJsonString() }}\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        464
      ],
      "id": "38e3be93-1988-4b06-918b-d6aaf3171e29",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Xqhn9UULL0gii9tg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_text }}",
        "options": {
          "systemMessage": "你是一個具備多輪對話能力的 AI 助理，能理解並記住使用者對話的上下文。你的任務是根據使用者的提問與過去的對話內容，給出有邏輯、連貫、且具有延伸性的回答。\n\n請根據使用者上一輪或多輪的提問與你的回應，主動補充、解釋或提出後續建議，讓對話自然延續下去。如果使用者的問題不完整，請嘗試合理推論意圖或主動追問細節。\n\n你應該：\n- 永遠假設使用者的問題與對話歷史有關，除非明確切換話題。\n- 避免僅回答單一句話，應提供深入、有脈絡的說明。\n- 如有需要，可主動提出範例、建議或追問，幫助使用者進一步思考。\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1088,
        560
      ],
      "id": "fefe9509-8f3b-41d0-88f6-60cec43e1e4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "# 路徑規劃\n",
        "height": 720,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        272
      ],
      "typeVersion": 1,
      "id": "2f058fa5-8a23-4f18-b5e6-457b82ab325c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 資料處裡",
        "height": 720,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        272
      ],
      "typeVersion": 1,
      "id": "b553af02-171f-44b0-a9ac-36d414da52c0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 訊息傳送",
        "height": 720,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        272
      ],
      "typeVersion": 1,
      "id": "07f39746-c07e-4d8f-bdbf-2339e28c8e2d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1776,
        480
      ],
      "id": "4f6e253e-c393-4dad-ae36-a3b0ec1cee68",
      "name": "lineWebhook",
      "webhookId": "b04cc3c1-0dcd-4fa1-a590-21e760153f3b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a89c1dcf-f63d-468c-b40f-db26a11aa4d2",
              "name": "id",
              "value": "={{ $json.body.events[0].source.userId }}",
              "type": "string"
            },
            {
              "id": "f60a90cb-f4d1-4ed7-a526-03ab65d7792b",
              "name": "replyToken",
              "value": "={{ $json.body.events[0].replyToken }}",
              "type": "string"
            },
            {
              "id": "2a80bf3d-8d73-42fc-81c7-164a990aea56",
              "name": "user_text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "ce0b91b6-0c5d-4559-9397-a21f631c8566",
              "name": "source",
              "value": "line",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        480
      ],
      "id": "fd784eb1-ca8d-442e-9bba-334dc02b368f",
      "name": "lineData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83f1d99f-8bd8-4352-88f5-de2034e4aecb",
              "name": "id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "948945e8-9c17-4eb1-8fdd-aca610279598",
              "name": "user_text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "76af50c9-ba64-498d-9e33-e17e8474f704",
              "name": "source",
              "value": "Telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        640
      ],
      "id": "2315d78a-2a62-42e3-bf29-c68a39dbde34",
      "name": "TelegramData"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1264,
        560
      ],
      "id": "c05c9f0c-191e-4a46-bbd7-6b97b79cb6f8",
      "name": "userData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9ee8fea-720a-4552-998e-d0786867d1d9",
              "leftValue": "={{ $('userData').item.json.source }}",
              "rightValue": "line",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        560
      ],
      "id": "205e5753-e81e-48f1-a212-3410c6a3c4c1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -416,
        640
      ],
      "id": "55e79849-e4c0-4c14-8b4c-f69052853af1",
      "name": "Send a text message",
      "webhookId": "25b2775a-9d0a-4320-aca2-3ac4ccc4743f",
      "credentials": {
        "telegramApi": {
          "id": "eL504ZEdHkJzKpeq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1264,
        832
      ],
      "id": "dd4dfee9-10b3-4761-b8b2-cbad6b81aca8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2o2msOZoqNSAopPR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.result.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        32,
        640
      ],
      "id": "bc4ed391-89e6-465c-bf43-cc1974bbde45",
      "name": "Discord",
      "webhookId": "63488363-5637-4613-adcd-c24c2fa8eca9",
      "credentials": {
        "discordWebhookApi": {
          "id": "SkrVXu1yD8Dd6kcx",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c2072bb-2b30-4221-9054-ce53b9c0a760",
              "name": "result.text",
              "value": "={{ $json.result.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        640
      ],
      "id": "ec6f1700-be06-401e-9a18-d04ca2dad247",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('If').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -176,
        464
      ],
      "id": "d3ed6ac1-f020-40a2-bb5f-4a422a9b4a6c",
      "name": "Discord1",
      "webhookId": "63488363-5637-4613-adcd-c24c2fa8eca9",
      "credentials": {
        "discordWebhookApi": {
          "id": "SkrVXu1yD8Dd6kcx",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "幫我全部轉成人類看得懂語言"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -976,
        -144
      ],
      "id": "10745e44-cc6d-479b-81eb-bec5ef956f62",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1504,
        112
      ],
      "id": "f0fc8ea2-d782-41b1-80e0-f0d660adcf37",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "2o2msOZoqNSAopPR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://discord.com/api/v10/channels/1394691416512528544/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        -160
      ],
      "id": "95363a3b-9a68-409a-aa40-5860550e9858",
      "name": "Discord 頻道 訊息",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XE7EHTIOw8rpj5IJ",
          "name": "DC Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content }}\n {{ $json.author.global_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        -160
      ],
      "id": "a597cdfa-c82e-41b5-8507-14fb0bfe40ea",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "557558400486080517",
          "mode": "list",
          "cachedResultName": "BattleFields",
          "cachedResultUrl": "https://discord.com/channels/557558400486080517"
        },
        "channelId": {
          "__rl": true,
          "value": "1394691416512528544",
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://discord.com/channels/557558400486080517/1394691416512528544"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2272,
        -96
      ],
      "id": "688fd5cf-3221-43b6-9eb9-91978610171b",
      "name": "Get many messages",
      "webhookId": "8e0f51b6-0f81-48da-bdc3-66163e72bd86",
      "credentials": {
        "discordBotApi": {
          "id": "nylhDxgHcrMsKmcL",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8605a213-19b2-4dc7-b86a-b293f727515c",
              "name": "message",
              "value": "={{$json[\"content\"]}}",
              "type": "string"
            },
            {
              "id": "5356eb19-fdfb-41b8-98eb-f74b071fae9e",
              "name": "name",
              "value": "={{$json[\"author\"][\"username\"]}}",
              "type": "string"
            },
            {
              "id": "baa21717-0676-4d52-8356-338f2a9a23ae",
              "name": "time",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2112,
        -96
      ],
      "id": "82165c1f-0fcd-4fe6-bc28-c17e83c28960",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "7906916148",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        -480
      ],
      "id": "125287cc-d9f2-482f-a5a5-27324313eccb",
      "name": "Send a text message1",
      "webhookId": "3e76dfc5-cfa0-4846-a034-af76e6f76b58",
      "credentials": {
        "telegramApi": {
          "id": "eL504ZEdHkJzKpeq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a882e317-5d92-43c5-8691-4820f158bc04",
              "leftValue": "={{ $json.time }}",
              "rightValue": "={{ new Date(Date.now() - 5000).toISOString() }}\n\n",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        -96
      ],
      "id": "f41f286d-fe82-40d7-9b8a-bd94ceac2d35",
      "name": "If1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2448,
        -96
      ],
      "id": "3588b9f4-87ad-45c9-a5bf-fca0d46d2deb",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        -64
      ],
      "id": "263e5242-8533-45bd-b9bc-b02aba899c6c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        -624
      ],
      "id": "2faeea12-399a-430a-a71b-757f9c808f66",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2288,
        -624
      ],
      "id": "00a178d4-95dc-485b-bfe2-c64d26335ee4",
      "name": "多人聊天室 連線訊息",
      "webhookId": "6500ab30-ddf9-4276-8c9f-f18b33cc6570"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 758171726,
          "message": {
            "message_id": 33,
            "from": {
              "id": 7906916148,
              "is_bot": false,
              "first_name": "Hh",
              "last_name": "Vv",
              "language_code": "zh-hans"
            },
            "chat": {
              "id": -1002694654837,
              "title": "Hh and DDv AI",
              "type": "supergroup"
            },
            "date": 1752590107,
            "text": "你好"
          }
        }
      }
    ],
    "lineWebhook": [
      {
        "json": {
          "headers": {
            "host": "accurately-enhanced-raven.ngrok-free.app",
            "user-agent": "LineBotWebhook/2.0",
            "content-length": "557",
            "accept-encoding": "gzip",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "172.18.0.4",
            "x-forwarded-host": "accurately-enhanced-raven.ngrok-free.app",
            "x-forwarded-port": "80",
            "x-forwarded-proto": "http",
            "x-forwarded-server": "0c1bbeadf6f4",
            "x-line-signature": "v3KEO6tR4fXNkNg9oAjqwckUWgfLXvpNaws+nFhLKiE=",
            "x-real-ip": "172.18.0.4"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "U464beed7863363ff298fa5eb4b270e16",
            "events": [
              {
                "type": "message",
                "message": {
                  "type": "text",
                  "id": "570303198955569171",
                  "quoteToken": "xcCXB3YMo2iVm23pv7xuh4QcMGaMMlyJE2IY1q05u7nlmMMCy2V6Pvft0eNN9t59CyxDSAx7Gfmcv0N3RKWc_-utPuOlgTfVGN8D2PXEl4GVkS_K8PEVRumK7xdXSAXpCZn34eTKtr8RnfpKKmlg6Q",
                  "text": "1"
                },
                "webhookEventId": "01K0C8RF4DZGE1FD0WEM208405",
                "deliveryContext": {
                  "isRedelivery": false
                },
                "timestamp": 1752758499986,
                "source": {
                  "type": "user",
                  "userId": "U817b2c5d43ed7c4d0d0a405539f53eed"
                },
                "replyToken": "8976b396dbfb46dd9ef1e0dde7e32a17",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "https://accurately-enhanced-raven.ngrok-free.app/webhook/line",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "TelegramData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lineWebhook": {
      "main": [
        [
          {
            "node": "lineData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lineData": {
      "main": [
        [
          {
            "node": "userData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramData": {
      "main": [
        [
          {
            "node": "userData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userData": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Discord1": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord 頻道 訊息": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "多人聊天室 連線訊息": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16b73d9c-3c97-4c06-888d-b2e1302ec504",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb615004c52754fa669b457fae6cd1933458d7da26c759b0bf99824610a39676"
  },
  "id": "ujd4op0dUKPrlaGW",
  "tags": []
}